<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>SRb2SMSXsMI5ptIS9zNMheslC0Cjl4BCSkwHlfQhGtwtZ8QiA1A7P9BLoL5yd0GoRrwJkmMidALedELKUevD3itE8kuuBLTwwy1PZaA/5NFwQUFHPAYk7tQWjsWTPZtvj4p5W5DMNgfbcwZkf+wE0Qe5Su6E0IYTnPjYHFw8u4zZoCJbBQ5LEVHvnO3M8KZgMHRI1aAwNR93c93L8MZ5O8YqRZAp3Gsvr02qz52WCeqSBbQy7tmPunTq3uOhQ+T4Tru9WWtEeA5Qa6rv/dKI2iZYJgq0uRbWEofMmAtvI14Smyt/DTAEg0905P2nJTJYWdkQy4TSpfiGkZ+1RvVXig==</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>Bf0Oy5J4sP/XwLUJygREEG15N4o/Gz2ZCrFTvADpmsIMx5/LGPiK9YcsdWxhy3bcD4W7H52Ij68uQBqhEIyYSl+q9YY6H5JBG60YHR95poWGEsHPIfjEqLO64OUDQSJLzXSxDPATeBpUjAmS2F8FE9YTCF7nT+W3LhSxubhA5f1iFibeIGaDk1cC1z+Ex0WEcOVGLZ8issdjjeyJMj4Lzq3wKGvav2Ch9wNebmLJHn7pmdCRkgCNTn4vhKCFuzS3f8uod+tK44oIRtikhPT24gI23XceCUyyl8fyjfJrsIk=</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>